总页数: 7

================================================================================
上海交通大学MBA学位论文格式的统一要求 - 详细内容提取
================================================================================

=== 第 1 页 ===

 
上海交通大学工商管理硕士（MBA）学位论文格式的统一要求 
学位论文是MBA 从事科研工作的成果的主要表现，它集中表明了作者在研究工作中获
得的新的发明、理论或见解，是MBA 申请硕士学位的重要依据，也是科研领域中的重要文
献资料和社会的宝贵财富。  
为了提高MBA 学位论文的质量，做到学位论文在内容和格式上的规范化与标准化，按
照国家标准《学位论文的编写规则》，特作如下规定： 
一、论文内容要求 
MBA学位论文应用汉语撰写(国际班中写中文论文确有困难的留学生可以用全英语撰
写论文
论文内容一般应由十四个主要部分组成，依次为：1. 封面（包括外封面、扉页）；2.
题名页；3. 论文原创性声明；4. 论文版权使用授权书；5. 论文答辩委员会名单及答辩决议；
6. 中文摘要；7. 英文摘要；8. 目录；9. 符号说明；10. 论文正文（包括前言）；11. 参考文
献；12.注释；13. 附录；14. 致谢。各部分的具体要求如下： 
)，论文字数一般为3 万以上。论文内容要求完整、准确，层次分明，数据可靠，文
字简练，说明透彻，推理严谨，立论正确。应采用国家正式公布实施的简化汉字和法定的计
量单位。文中采用的术语、符号、代号，全文必须统一，并符合规范化的要求。如果文中使
用新的专业术语、缩略语、习惯用语，应加以注释。国外新的专业术语、缩略语，必须在译
文后用圆括号注明原文。学位论文的插图、照片必须确保能复制或缩微。论文的页码须从“绪
论”数起（包括绪论、正文、参考文献、附录、致谢等），用阿拉伯数字编连续码；文摘页、
目次页、插图和附表清单、符号和缩略词的说明等，用阿拉伯数字单独编连续码。 
1.封面（包括外封面、扉页） 
外封面由论文装订处提供，并由论文装订处打印论文题目（不超过20 个字）、学科专业、
作者姓名、指导教师、答辩日期等内容。扉页需自行打印,格式请参照本文第二条“撰写规
范”第一点中的规定。 
论文题目应避免使用不常用缩略语、首字母缩写字、字符、代号和公式等。题目用词必
须考虑有助于选定关键词和编制题录、文摘等二次文献，可以提供检索用的特定实用信息。
在学位论文中出现的题目都应完全相同。如果学位论文是基金资助项目，应将基金注释在题
目所在页下“页脚”位置。 
2．题名页（MBA 学位论文无需此页） 
题名页应置于封二，是对学位论文进行著录的依据。除包括封面上的全部内容外，题名
页还应增加关键词、资助基金项目、研究方向、申请学位级别（硕士）、培养单位等内容。 
3.论文原创性声明 
该声明全文可以从网上（网址：www.gs.sjtu.edu.cn）的信息服务栏目中下载，经学位论
文作者签名后生效。 

  文本: "上海交通大学工商管理硕士（"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=153.6

  文本: "）学位论文格式的统一要求"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=315.1

  文本: "从事科研工作的成果的主要表现，它集中表明了作者在研究工作中获"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=114.8, x=190.1

  文本: "得的新的发明、理论或见解，是"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=130.4, x=90.0

  文本: "申请硕士学位的重要依据，也是科研领域中的重要文"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=130.4, x=262.0

  文本: "献资料和社会的宝贵财富。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=146.0, x=90.0

  文本: "学位论文的质量，做到学位论文在内容和格式上的规范化与标准化，按"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=175.7, x=179.6

  文本: "照国家标准《学位论文的编写规则》，特作如下规定："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=191.3, x=90.0

  文本: "一、论文内容要求"
    字体: SimHei, 字号: 10.6, 字重: 常规 
    位置: y=220.8, x=90.0

  文本: "学位论文应用汉语撰写"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=250.4, x=138.1

  文本: "国际班中写中文论文确有困难的留学生可以用全英语撰"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=250.4, x=248.8

  文本: "论文内容一般应由十四个主要部分组成，依次为："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=389.3, x=114.0

  文本: "封面（包括外封面、扉页）；"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=389.3, x=363.4

  文本: "论文原创性声明；"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=404.9, x=142.8

  文本: "论文版权使用授权书；"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=404.9, x=237.5

  文本: "论文答辩委员会名单及答辩决议；"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=404.9, x=353.2

  文本: "论文正文（包括前言）；"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=420.5, x=347.1

  文本: "致谢。各部分的具体要求如下："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=436.1, x=224.0

  文本: "，论文字数一般为"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=266.0, x=125.1

  文本: "万以上。论文内容要求完整、准确，层次分明，数据可靠，文"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=266.0, x=221.8

  文本: "字简练，说明透彻，推理严谨，立论正确。应采用国家正式公布实施的简化汉字和法定的计"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=281.6, x=90.0

  文本: "量单位。文中采用的术语、符号、代号，全文必须统一，并符合规范化的要求。如果文中使"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=297.2, x=90.0

  文本: "用新的专业术语、缩略语、习惯用语，应加以注释。国外新的专业术语、缩略语，必须在译"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=312.8, x=90.0

  文本: "文后用圆括号注明原文。学位论文的插图、照片必须确保能复制或缩微。论文的页码须从“绪"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=328.4, x=90.0

  文本: "论”数起（包括绪论、正文、参考文献、附录、致谢等），用阿拉伯数字编连续码；文摘页、"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=344.0, x=90.0

  文本: "目次页、插图和附表清单、符号和缩略词的说明等，用阿拉伯数字单独编连续码。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=359.6, x=90.0

  文本: "封面（包括外封面、扉页）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=465.6, x=119.0

  文本: "外封面由论文装订处提供，并由论文装订处打印论文题目（不超过"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=495.2, x=111.0

  文本: "个字）、学科专业、"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=495.2, x=422.2

  文本: "作者姓名、指导教师、答辩日期等内容。扉页需自行打印"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=510.8, x=90.0

  文本: "格式请参照本文第二条“撰写规"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=510.8, x=357.3

  文本: "范”第一点中的规定。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=526.4, x=90.0

  文本: "论文题目应避免使用不常用缩略语、首字母缩写字、字符、代号和公式等。题目用词必"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=556.1, x=111.0

  文本: "须考虑有助于选定关键词和编制题录、文摘等二次文献，可以提供检索用的特定实用信息。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=571.7, x=90.0

  文本: "在学位论文中出现的题目都应完全相同。如果学位论文是基金资助项目，应将基金注释在题"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=587.2, x=90.0

  文本: "目所在页下“页脚”位置。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=602.8, x=90.0

  文本: "学位论文无需此页）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=632.4, x=192.8

  文本: "题名页应置于封二，是对学位论文进行著录的依据。除包括封面上的全部内容外，题名"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=662.0, x=111.0

  文本: "页还应增加关键词、资助基金项目、研究方向、申请学位级别（硕士）、培养单位等内容。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=677.6, x=90.0

  文本: "论文原创性声明"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=707.2, x=119.0

  文本: "该声明全文可以从网上（网址："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=736.8, x=111.0

  文本: "www.gs.sjtu.edu.cn"
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=736.8, x=256.8

  文本: "）的信息服务栏目中下载，经学位论"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=736.8, x=338.9

  文本: "文作者签名后生效。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=752.4, x=90.0


=== 第 2 页 ===

4.论文版权使用授权书 
该授权书全文可以从网上（网址：www.gs.sjtu.edu.cn）的信息服务栏目中下载，经学位
论文作者和指导教师共同签名后生效。 
5.论文答辩委员会名单及答辩决议（学生可以忽略此条） 
论文答辩委员会名单及答辩决议书须经全体答辩委员、答辩委员会主席签名，可以用复
印件附于归档论文中。 
6.中文摘要(包括关键词) 
中文摘要应该将学位论文的内容不加注释和评论、简短明了地陈述出来，应该包含论文
中的基本信息，体现科研工作的核心思想，具有独立性和自含性，即不阅读论文的全文，就
能获得必要的信息。摘要中有数据、有结论，是一篇完整的短文，可以独立使用，可以引用。
摘要内容应涉及本项科研工作的目的和意义、研究方法、研究成果、结果和最终结论等，重
点是结果和结论，应注意突出学位论文中具有创新性的成果和新见解的部分，中文摘要一般
不宜超过500 字，如遇特殊需要字数可以略多。 
7.英文摘要(包括关键词) 
英文摘要内容（含论文题目）应与中文摘要基本相对应，要符合英语语法，语句通顺，
文字流畅。字数一般不宜超过300 个实词。 
摘要中一般不用图、表、化学结构式、非公知公用的符号和术语。 
8.目录 
目录应将文内的章节标题依次排列，标题应该简明扼要。目录页中每行均由标题名称和
页码组成，包括引言（或前言），主要内容的篇、章、条、款、项序号和标题，小结，（引文）
参考文献、注释、附录，可供参考的文献题录、索引等。 
论文中如图表较多，可以分别列出清单置于目录页之后。图的清单应有序号、图题和页
码。表的清单应有序号、表题和页码。 
9.符号说明 
论文中所用符号所表示的意义及单位（或量纲）。 
符号、标志、缩略词、首字母缩写、计量单位、名词、术语等注释说明，如需汇集，可
集中置于图表清单之后。 
10.论文正文 
论文正文是主体，是学位论文的核心部分，一般由标题、文字叙述、图、表格和公式等
五个部分构成。写作形式可因研究项目的性质不同而变化，一般可包括调查对象、实验和观
测方法、仪器设备、材料原料、实验和观测结果、计算方法和编程原理、数据资料、经过加
工整理的图表、形成的论点和导出的结论等。 

  文本: "论文版权使用授权书"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=118.9

  文本: "该授权书全文可以从网上（网址："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=113.3, x=111.0

  文本: "www.gs.sjtu.edu.cn"
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=113.3, x=267.2

  文本: "）的信息服务栏目中下载，经学位"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=113.3, x=349.3

  文本: "论文作者和指导教师共同签名后生效。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=128.9, x=90.0

  文本: "论文答辩委员会名单及答辩决议（学生可以忽略此条）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=158.4, x=118.9

  文本: "论文答辩委员会名单及答辩决议书须经全体答辩委员、答辩委员会主席签名，可以用复"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=188.0, x=111.0

  文本: "印件附于归档论文中。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=203.6, x=90.0

  文本: "中文摘要应该将学位论文的内容不加注释和评论、简短明了地陈述出来，应该包含论文"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=262.8, x=111.0

  文本: "中的基本信息，体现科研工作的核心思想，具有独立性和自含性，即不阅读论文的全文，就"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=278.4, x=90.0

  文本: "能获得必要的信息。摘要中有数据、有结论，是一篇完整的短文，可以独立使用，可以引用。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=294.0, x=90.0

  文本: "摘要内容应涉及本项科研工作的目的和意义、研究方法、研究成果、结果和最终结论等，重"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=309.6, x=90.0

  文本: "点是结果和结论，应注意突出学位论文中具有创新性的成果和新见解的部分，中文摘要一般"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=325.2, x=90.0

  文本: "字，如遇特殊需要字数可以略多。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=340.8, x=150.4

  文本: "英文摘要内容（含论文题目）应与中文摘要基本相对应，要符合英语语法，语句通顺，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=400.1, x=111.0

  文本: "文字流畅。字数一般不宜超过"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=415.7, x=90.0

  文本: "摘要中一般不用图、表、化学结构式、非公知公用的符号和术语。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=444.1, x=115.6

  文本: "目录应将文内的章节标题依次排列，标题应该简明扼要。目录页中每行均由标题名称和"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=501.3, x=108.0

  文本: "页码组成，包括引言（或前言），主要内容的篇、章、条、款、项序号和标题，小结，（引文）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=515.0, x=90.0

  文本: "参考文献、注释、附录，可供参考的文献题录、索引等。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=528.6, x=90.0

  文本: "论文中如图表较多，可以分别列出清单置于目录页之后。图的清单应有序号、图题和页"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=557.4, x=111.0

  文本: "码。表的清单应有序号、表题和页码。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=572.8, x=90.0

  文本: "论文中所用符号所表示的意义及单位（或量纲）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=631.0, x=107.9

  文本: "符号、标志、缩略词、首字母缩写、计量单位、名词、术语等注释说明，如需汇集，可"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=644.6, x=108.0

  文本: "集中置于图表清单之后。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=658.3, x=90.0

  文本: "论文正文是主体，是学位论文的核心部分，一般由标题、文字叙述、图、表格和公式等"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=715.4, x=107.9

  文本: "五个部分构成。写作形式可因研究项目的性质不同而变化，一般可包括调查对象、实验和观"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=729.1, x=90.0

  文本: "测方法、仪器设备、材料原料、实验和观测结果、计算方法和编程原理、数据资料、经过加"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=742.6, x=90.0

  文本: "工整理的图表、形成的论点和导出的结论等。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=756.3, x=90.0


=== 第 3 页 ===

由于研究工作涉及的学科、选题、研究方法、工作进程、结果表达方式等有很大的差异，
对正文内容不能作统一的规定。但是，必须实事求是，客观真切，准确完备，合乎逻辑，层
次分明，简练可读。  
11.参考文献 
参考文献是文中引用的有具体文字来源的文献集合，应按文中引用出现的顺序列出，可
以列在各章末尾，也可以列在正文的末尾。按照GB 7714《文后参考文献著录规则》的规定
执行。 
在引用别人的科研成果时，应特别注意在引用处加以说明，避免论文抄袭现象的发生。 
12．注释 
注释可作为脚注在页下分散著录，但切忌在文中注释。 
13. 附录 
附录是作为论文主体的补充项目，并不是必须的。附录内容大致有以下几种情况： 
（1）为了整篇论文材料的完整，但编入正文又有损于编排的条理和逻辑性，这一材料
包括比正文更为详尽的信息、研究方法和技术更深入的叙述，建议可以阅读的参考文献题录，
对了解正文内容有用的补充信息等。 
（2）由于篇幅过大或取材于复制品而不便于编入正文的材料。 
（3）不便于编入正文的罕见珍贵资料。 
（4）对一般读者并非必要阅读，但对本专业同行有参考价值的资料。 
（5）某些重要的原始数据、数学推导、计算程序、框图、结构图、注释、统计表、计
算机打印输出件等。 
14.致谢 
一般在正文之后，包括内容如下： 
（1）对国家科学基金、资助研究工作的奖学金基金、合同单位、资助或支持的企业、
组织或个人。 
（2）对协助完成研究工作和提供便利条件的组织或个人。 
（3）对在研究工作中提出建议和提供帮助的人。 
（4）对给予转载和引用权的资料、图片、文献、研究思想和设想的所有者。 
（5）对其他应感谢的组织和个人。 
致谢应实事求是，切忌浮夸与庸俗之词。 
15.(此条规定只适用于国际班中撰写中文论文确有困难的留学生)国际班留学生若用全
英语撰写论文，附在此英语版论文前面的扉页（须写中、英语题目名）、《原创性声明》、《版
权使用授权书》请用中文。中、英文摘要仍需，格式见第二条“撰写规范”中第三、四点的
要求。 
二、撰写规范 
1．外封面的内容一律按统一格式和要求、由论文装订处打印，必须正确无误。论文题
目不得超过20 个汉字。 

  文本: "由于研究工作涉及的学科、选题、研究方法、工作进程、结果表达方式等有很大的差异，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=111.0

  文本: "对正文内容不能作统一的规定。但是，必须实事求是，客观真切，准确完备，合乎逻辑，层"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=99.2, x=90.0

  文本: "次分明，简练可读。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=114.8, x=90.0

  文本: "参考文献是文中引用的有具体文字来源的文献集合，应按文中引用出现的顺序列出，可"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=172.9, x=107.9

  文本: "以列在各章末尾，也可以列在正文的末尾。按照"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=186.6, x=90.0

  文本: "GB 7714"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=186.6, x=313.3

  文本: "《文后参考文献著录规则》的规定"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=186.6, x=348.0

  文本: "在引用别人的科研成果时，应特别注意在引用处加以说明，避免论文抄袭现象的发生。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=228.9, x=111.7

  文本: "注释可作为脚注在页下分散著录，但切忌在文中注释。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=271.1, x=108.0

  文本: "附录是作为论文主体的补充项目，并不是必须的。附录内容大致有以下几种情况："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=328.2, x=107.9

  文本: "）为了整篇论文材料的完整，但编入正文又有损于编排的条理和逻辑性，这一材料"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=341.9, x=123.9

  文本: "包括比正文更为详尽的信息、研究方法和技术更深入的叙述，建议可以阅读的参考文献题录，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=355.4, x=90.0

  文本: "对了解正文内容有用的补充信息等。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=369.1, x=90.0

  文本: "）由于篇幅过大或取材于复制品而不便于编入正文的材料。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=382.6, x=123.7

  文本: "）不便于编入正文的罕见珍贵资料。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=396.3, x=123.7

  文本: "）对一般读者并非必要阅读，但对本专业同行有参考价值的资料。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=409.9, x=123.7

  文本: "）某些重要的原始数据、数学推导、计算程序、框图、结构图、注释、统计表、计"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=423.6, x=123.8

  文本: "算机打印输出件等。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=437.1, x=90.0

  文本: "一般在正文之后，包括内容如下："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=494.4, x=115.6

  文本: "）对国家科学基金、资助研究工作的奖学金基金、合同单位、资助或支持的企业、"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=507.9, x=123.1

  文本: "组织或个人。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=521.6, x=90.0

  文本: "）对协助完成研究工作和提供便利条件的组织或个人。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=535.1, x=126.8

  文本: "）对在研究工作中提出建议和提供帮助的人。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=548.8, x=126.8

  文本: "）对给予转载和引用权的资料、图片、文献、研究思想和设想的所有者。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=562.4, x=126.8

  文本: "）对其他应感谢的组织和个人。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=576.1, x=126.8

  文本: "致谢应实事求是，切忌浮夸与庸俗之词。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=589.6, x=115.6

  文本: "此条规定只适用于国际班中撰写中文论文确有困难的留学生"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=618.5, x=124.9

  文本: "国际班留学生若用全"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=618.5, x=408.7

  文本: "英语撰写论文，附在此英语版论文前面的扉页（须写中、英语题目名）、《原创性声明》、《版"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=634.0, x=90.0

  文本: "权使用授权书》请用中文。中、英文摘要仍需，格式见第二条“撰写规范”中第三、四点的"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=649.6, x=90.0

  文本: "二、撰写规范"
    字体: SimHei, 字号: 10.6, 字重: 常规 
    位置: y=694.8, x=90.0

  文本: "．外封面的内容一律按统一格式和要求、由论文装订处打印，必须正确无误。论文题"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=724.4, x=113.3


=== 第 4 页 ===

扉页包括中英文题目（中文题目采用二号黑体居中，英文题目采用二号字体，全部大写，
可分成1-3 行居中打印，每行左右两边至少留五个字符空格。），学校、学院、专业、作者、
导师、学号、班级以及答辩日期（三号黑体居中）。 
具体格式是：A4 纸，设置页眉为2.5cm，页脚为3.0cm，页边距分别为上3.5cm，下4.0cm，
左2.8cm，右2.8cm。打印顺序是：从首行下空3-4 行，中文题目（独立成行），下空1 行，
英文题目（独立成行），下空8-11 行（可自行调整），学校、学院、专业、作者、导师、
学号、班级以及答辩日期（均独立成行）。（可根据题目长短予以适当调整。） 
2．页眉和页脚： 
从前言或绪论开始按阿拉伯数字连续编注页码，并加注页眉和页脚，页眉的左边为“上
海交通大学MBA 学位论文”(小五号宋体),页眉的右边为论文的题目(小五号宋体) ，页脚的
中间写页码。 
3．硕士学位论文的中文摘要字数为500 字左右，格式要求是： 
（1）论文题目为三号黑体字，可以分成1 或2 行居中打印。 
（2）论文题目下空一行居中打印“摘要”二字（三号黑体），字间空一格。 
（3） “摘要”二字下空一行打印摘要内容（四号宋体）。每段开头空二格，标点符号
占一格。 
（4）摘要内容后下空一行打印“关键词”三字（四号黑体），其后为关键词（四号宋体）。
关键词数量为4~6 个，每一关键词之间用逗号分开，最后一个关键词后不打标点符号。 
4．学位论文的英文摘要为中文摘要的全文翻译，格式要求是： 
（1）英文题目全部采用大写字母，可分成1~3 行居中打印。每行左右两边至少留五个
字符空格。（三号字体） 
（2）题目下空三行居中打印“ABSTRACT” （三号字体），再下空二行打印英文摘要
内容（四号字体）。 
（3）摘要内容每段开头留四个字符空格。 
（4）摘要内容后下空二行打印“KEY WORDS”（四号字体），其后关键词小写，每一
关键词之间用逗号分开，最后一个关键词不打标点符号（四号字体）。 
5.目录：“目录”两字（三号黑体），居中打印，下空两行为章、节、小节及其开始页码。
文字为五号宋体。章、节、小节分别以“第1 章”、“1.1”、“1.1.1”等数字依次标出。 
目录中章、条的编号和绪论、附录等均顶格排。章、条的标题及附录等的标题与前面
的内容之间空一个字的间隙。前言、章、条等与页码之间用“……”连接，页码不用括号。 
 

  文本: "扉页包括中英文题目（中文题目采用二号黑体居中，英文题目采用二号字体，全部大写，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=111.0

  文本: "行居中打印，每行左右两边至少留五个字符空格。），学校、学院、专业、作者、"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=99.2, x=140.0

  文本: "导师、学号、班级以及答辩日期（三号黑体居中）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=114.8, x=90.0

  文本: "具体格式是："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=144.5, x=111.0

  文本: "纸，设置页眉为"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=144.5, x=180.0

  文本: "，页边距分别为上"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=144.5, x=346.6

  文本: "。打印顺序是：从首行下空"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=160.1, x=178.7

  文本: "行，中文题目（独立成行），下空"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=160.1, x=321.7

  文本: "英文题目（独立成行），下空"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=175.7, x=90.0

  文本: "行（可自行调整），学校、学院、专业、作者、导师、"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=175.7, x=250.3

  文本: "学号、班级以及答辩日期（均独立成行）。（可根据题目长短予以适当调整。）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=191.3, x=90.0

  文本: "．页眉和页脚："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=220.8, x=116.3

  文本: "从前言或绪论开始按阿拉伯数字连续编注页码，并加注页眉和页脚，页眉的左边为“上"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=250.4, x=111.0

  文本: "页眉的右边为论文的题目"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=266.0, x=284.8

  文本: "中间写页码。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=281.6, x=90.0

  文本: "．硕士学位论文的中文摘要字数为"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=311.3, x=116.3

  文本: "字左右，格式要求是："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=311.3, x=292.2

  文本: "）论文题目为三号黑体字，可以分成"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=340.8, x=126.9

  文本: "行居中打印。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=340.8, x=323.8

  文本: "）论文题目下空一行居中打印“摘要”二字（三号黑体），字间空一格。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=370.4, x=126.9

  文本: "“摘要”二字下空一行打印摘要内容（四号宋体）。每段开头空二格，标点符号"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=400.1, x=142.7

  文本: "）摘要内容后下空一行打印“关键词”三字（四号黑体），其后为关键词（四号宋体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=445.2, x=126.9

  文本: "关键词数量为"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=460.8, x=90.0

  文本: "个，每一关键词之间用逗号分开，最后一个关键词后不打标点符号。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=460.8, x=172.0

  文本: "．学位论文的英文摘要为中文摘要的全文翻译，格式要求是："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=490.4, x=122.3

  文本: "）英文题目全部采用大写字母，可分成"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=520.1, x=126.9

  文本: "行居中打印。每行左右两边至少留五个"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=520.1, x=324.3

  文本: "字符空格。（三号字体）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=535.6, x=90.0

  文本: "）题目下空三行居中打印“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=565.2, x=126.9

  文本: "ABSTRACT"
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=565.2, x=252.0

  文本: "（三号字体），再下空二行打印英文摘要"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=565.2, x=322.0

  文本: "内容（四号字体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=580.8, x=90.0

  文本: "）摘要内容每段开头留四个字符空格。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=610.4, x=126.9

  文本: "）摘要内容后下空二行打印“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=640.0, x=126.9

  文本: "KEY WORDS"
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=640.0, x=263.4

  文本: "”（四号字体），其后关键词小写，每一"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=640.0, x=326.9

  文本: "关键词之间用逗号分开，最后一个关键词不打标点符号（四号字体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=655.6, x=90.0

  文本: "目录：“目录”两字（三号黑体），居中打印，下空两行为章、节、小节及其开始页码。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=685.2, x=118.9

  文本: "文字为五号宋体。章、节、小节分别以“第"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=700.8, x=90.0

  文本: "”等数字依次标出。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=700.8, x=386.8

  文本: "目录中章、条的编号和绪论、附录等均顶格排。章、条的标题及附录等的标题与前面"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=729.3, x=115.6

  文本: "的内容之间空一个字的间隙。前言、章、条等与页码之间用“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=742.9, x=90.0

  文本: "”连接，页码不用括号。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=742.9, x=394.7


=== 第 5 页 ===

6．章、条、段：章、条的编号顶格排，编号与标题或文字之间一个字的间隙。章的标
题占两行。段的文字空两个字起排，回行时顶格排。（注：中文摘要、英文摘要、目录、前
言以及每一章的开始均须从独立一页开始打印。） 
7．标题：标题第一级为“第1 章”、“第2 章”、“第3 章”等，第二级为“1.1”、“1.2”、
“1.3”等，第三级为“1.1.1”、“1.1.2”、“1.1.3”等，各级末尾不加标点。章、节、小节编
号与后面的文字之间应有1 个字的间隔。 
每章标题以三号黑体居中打印；“章”下空两行为节（如“1.1”），以四号黑体左起顶格
打印；节（如“1.1”）下空一行为小节（如“1.1.1”），以小四号或五号黑体左起顶格打印。
写出标号（如“1.1”、“1.1.1”）后均空一格写标题。换行后打印论文正文。正文中总项包括
的分项采用（1）、（2）、（3）…的序号，对分项中的小项采用①、②、③…的序号，均从顶
格起空两格书写。数字加上括号表示序号后，不再加其他标点紧挨其后。 
8．正文：采用五号或小四号宋体。 
9．图：图包括曲线图、构造图、示意图、图解、框图、流程图、纪录图、布置图、地
图、照片、图版等。图应具有“自明性”，即只看图例，不阅读正文，就可理解图意。图中
一律采用英文字母标注。图文说明用中文。 
图应有编号，由“图”和从1 开始的阿拉伯数字组成，例如“图1”、“图2”等。图的
编号应一直连续到附录之前，并与章、条和表的编号无关。只有一幅图时，仍应标为“图1”。 
图题写在图的正下方居中位置，图的编号写在图题左方不加标点，空一格接写图题，图
题末尾不加标点。图题采用中英文对照，其英文字体为五号，中文字体为五号楷体。引用图
应在图题左下角标出文献来源（小五号宋体）。 
曲线图的纵横坐标必须标注“量、标准规定符号、单位”。此三者只有在不必要标明（如
无量纲等）的情况下方可省略。坐标上标注的量的符号和缩略词必须与正文中一致。 
绘图必须工整、清晰、规范。其中机械零件图按机械制图规格要求；示意图应能清楚反
映图示内容；照片上应有表示目的物尺寸的标度。 
10．表格：表的编排一般是内容和测试项目由左至右横读，数据依序竖读，应有自明性。
表应有编号，由“表”和从1 开始的阿拉伯数字组成，例如“表1”、“表2”等。表的编号
应一直连续到附录之前，并与章、条和图的编号无关。只有一个表时，仍应标为“表1”。 
表应有标题，表内必须按规定的符号标注单位。表题为五号楷体，写在表格的正上方居
中，表的编号写在表题左方不加标点，空一格接写表题，表题末尾不加标点。如某个表需要
转页接排，在随后的各页上应重复表的编号。编号后跟表题（可省略）和“（续）”，如所示：
表1（续），续表均应重复表头和关于单位的陈述。 
11．公式：公式应另起一行居中排，较长的公式尽可能在等号处回行，或者在“+”、
“-”等符号处回行。公式中分数线的横线，长短要分清，主要的横线应与等号取平。公式
后应注明编号，用“……”连接，按章顺序编排。 
公式下面的“式中：”空两个字起排，单独占一行。公式中所要解释的符号按先左后右，

  文本: "．章、条、段：章、条的编号顶格排，编号与标题或文字之间一个字的间隙。章的标"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=82.6, x=120.8

  文本: "题占两行。段的文字空两个字起排，回行时顶格排。（注：中文摘要、英文摘要、目录、前"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=96.1, x=90.0

  文本: "言以及每一章的开始均须从独立一页开始打印。）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=109.8, x=90.0

  文本: "．标题：标题第一级为“第"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=138.5, x=116.3

  文本: "章”等，第二级为“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=138.5, x=352.9

  文本: "”等，第三级为“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=154.1, x=113.9

  文本: "”等，各级末尾不加标点。章、节、小节编"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=154.1, x=304.2

  文本: "号与后面的文字之间应有"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=169.7, x=90.0

  文本: "个字的间隔。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=169.7, x=213.4

  文本: "每章标题以三号黑体居中打印；“章”下空两行为节（如“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=199.3, x=111.0

  文本: "”），以四号黑体左起顶格"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=199.3, x=390.4

  文本: "打印；节（如“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=214.9, x=90.0

  文本: "”）下空一行为小节（如“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=214.9, x=176.8

  文本: "”），以小四号或五号黑体左起顶格打印。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=214.9, x=318.5

  文本: "写出标号（如“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=230.5, x=90.0

  文本: "”）后均空一格写标题。换行后打印论文正文。正文中总项包括"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=230.5, x=217.7

  文本: "的分项采用（"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=246.1, x=90.0

  文本: "的序号，对分项中的小项采用①、②、③"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=246.1, x=232.1

  文本: "的序号，均从顶"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=246.1, x=431.9

  文本: "格起空两格书写。数字加上括号表示序号后，不再加其他标点紧挨其后。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=261.7, x=90.0

  文本: "．正文：采用五号或小四号宋体。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=291.2, x=116.3

  文本: "．图：图包括曲线图、构造图、示意图、图解、框图、流程图、纪录图、布置图、地"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=320.9, x=116.3

  文本: "图、照片、图版等。图应具有“自明性”，即只看图例，不阅读正文，就可理解图意。图中"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=336.5, x=90.0

  文本: "一律采用英文字母标注。图文说明用中文。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=352.1, x=90.0

  文本: "图应有编号，由“图”和从"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=380.6, x=115.6

  文本: "开始的阿拉伯数字组成，例如“图"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=380.6, x=248.1

  文本: "编号应一直连续到附录之前，并与章、条和表的编号无关。只有一幅图时，仍应标为“图"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=394.2, x=90.0

  文本: "图题写在图的正下方居中位置，图的编号写在图题左方不加标点，空一格接写图题，图"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=423.0, x=111.1

  文本: "题末尾不加标点。图题采用中英文对照，其英文字体为五号，中文字体为五号楷体。引用图"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=438.5, x=90.0

  文本: "应在图题左下角标出文献来源（小五号宋体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=454.1, x=90.0

  文本: "曲线图的纵横坐标必须标注“量、标准规定符号、单位”。此三者只有在不必要标明（如"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=482.6, x=108.0

  文本: "无量纲等）的情况下方可省略。坐标上标注的量的符号和缩略词必须与正文中一致。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=496.3, x=90.0

  文本: "绘图必须工整、清晰、规范。其中机械零件图按机械制图规格要求；示意图应能清楚反"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=525.0, x=111.1

  文本: "映图示内容；照片上应有表示目的物尺寸的标度。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=540.6, x=90.0

  文本: "．表格：表的编排一般是内容和测试项目由左至右横读，数据依序竖读，应有自明性。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=570.1, x=121.6

  文本: "表应有编号，由“表”和从"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=585.7, x=90.0

  文本: "开始的阿拉伯数字组成，例如“表"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=585.7, x=224.2

  文本: "”等。表的编号"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=585.7, x=432.0

  文本: "应一直连续到附录之前，并与章、条和图的编号无关。只有一个表时，仍应标为“表"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=601.3, x=90.0

  文本: "表应有标题，表内必须按规定的符号标注单位。表题为五号楷体，写在表格的正上方居"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=630.9, x=111.1

  文本: "中，表的编号写在表题左方不加标点，空一格接写表题，表题末尾不加标点。如某个表需要"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=646.5, x=90.0

  文本: "转页接排，在随后的各页上应重复表的编号。编号后跟表题（可省略）和“（续）”，如所示："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=662.1, x=90.0

  文本: "（续），续表均应重复表头和关于单位的陈述。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=677.7, x=108.5

  文本: "．公式：公式应另起一行居中排，较长的公式尽可能在等号处回行，或者在“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=706.3, x=125.9

  文本: "”等符号处回行。公式中分数线的横线，长短要分清，主要的横线应与等号取平。公式"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=719.8, x=105.9

  文本: "后应注明编号，用“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=733.5, x=90.0

  文本: "”连接，按章顺序编排。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=733.5, x=205.6

  文本: "公式下面的“式中：”空两个字起排，单独占一行。公式中所要解释的符号按先左后右，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=762.2, x=111.0


=== 第 6 页 ===

先上后下顺序分行空两个字排，再用破折号与释文连接，回行时与上一行释文对齐。上下行
的破折号对齐。 
12．参考文献（另起一页打印）： 
参考文献应另起一页，所列文件均空两个字起排，回行时顶格排，每个文件之后不加标
点符号。 
（1）按论文中参考文献出现的先后顺序用阿拉伯数字连续编号，将序号置于方括号内，
并视具体情况将序号作为上角标或作为论文的组成部分。如：“……李××[1]
（2）参考文献中每条项目应齐全。文献中的作者不超过三位时全部列出；超过三位时
一般只列前三位，后面加“等”字或“et al.”；作者姓名之间用逗号分开；中外人名一律采
用姓在前，名在后的著录法。（如参考文献为翻译本，须分别列明原作者和译者姓名） 
对此作了研究，
数学模型见文献[2]。” 
（3）“参考文献”四字为三号黑体字居中，下空一行打印参考文献各项目（五号宋体）。 
参考文献中著录格式示例: 
① 期刊 
序号 作者，题名，刊名，出版年份，卷号（期号），起止页码 
② 专著 
序号 作者，书名，版本（第1 版不标注），出版地，出版者，出版年， 起止页码 
③ 论文集 
序号 作者，题名，见（英文用In），主编，论文集名，出版地，出版年，起止页码 
④ 学位论文 
序号 作者，题名，[学位论文]（英文用[Dissertation]），保存地点，保存单位，年份 
⑤ 专利 
序号 专利申请者，题名，国别，专利文献种类，专利号，出版日期 
⑥ 技术标准 
序号 起草责任者，标准代号，标准顺序号—发布年，标准名称，出版地，出版者，出
版年度 
13． 附录： 
附录编号（依次为附录1，附录2，……）、附录标题各占一行，置于附录条文之上居中

  文本: "先上后下顺序分行空两个字排，再用破折号与释文连接，回行时与上一行释文对齐。上下行"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=83.6, x=90.0

  文本: "的破折号对齐。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=99.2, x=90.0

  文本: "．参考文献（另起一页打印）："
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=128.9, x=121.6

  文本: "参考文献应另起一页，所列文件均空两个字起排，回行时顶格排，每个文件之后不加标"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=157.3, x=108.0

  文本: "）按论文中参考文献出现的先后顺序用阿拉伯数字连续编号，将序号置于方括号内，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=199.7, x=126.8

  文本: "并视具体情况将序号作为上角标或作为论文的组成部分。如：“……李××"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=215.3, x=90.0

  文本: "）参考文献中每条项目应齐全。文献中的作者不超过三位时全部列出；超过三位时"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=260.5, x=126.8

  文本: "一般只列前三位，后面加“等”字或“"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=276.1, x=90.0

  文本: "et al."
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=276.1, x=268.7

  文本: "”；作者姓名之间用逗号分开；中外人名一律采"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=276.1, x=290.2

  文本: "用姓在前，名在后的著录法。（如参考文献为翻译本，须分别列明原作者和译者姓名）"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=291.7, x=90.0

  文本: "对此作了研究，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=215.3, x=437.1

  文本: "数学模型见文献"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=230.9, x=90.0

  文本: "）“参考文献”四字为三号黑体字居中，下空一行打印参考文献各项目（五号宋体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=321.2, x=126.8

  文本: "参考文献中著录格式示例"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=350.9, x=111.0

  文本: "作者，题名，刊名，出版年份，卷号（期号），起止页码"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=410.0, x=137.3

  文本: "作者，书名，版本（第"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=469.3, x=137.3

  文本: "版不标注），出版地，出版者，出版年，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=469.3, x=250.2

  文本: "作者，题名，见（英文用"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=528.5, x=137.3

  文本: "），主编，论文集名，出版地，出版年，起止页码"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=528.5, x=264.1

  文本: "作者，题名，"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=587.6, x=137.3

  文本: "[Dissertation]"
    字体: TimesNewRomanPSMT, 字号: 10.6, 字重: 常规 
    位置: y=587.6, x=291.4

  文本: "），保存地点，保存单位，年份"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=587.6, x=349.0

  文本: "专利申请者，题名，国别，专利文献种类，专利号，出版日期"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=646.9, x=137.3

  文本: "起草责任者，标准代号，标准顺序号"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=706.1, x=137.4

  文本: "发布年，标准名称，出版地，出版者，出"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=706.1, x=316.2

  文本: "附录编号（依次为附录"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=763.8, x=107.9

  文本: "，……）、附录标题各占一行，置于附录条文之上居中"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=763.8, x=259.7


=== 第 7 页 ===

位置。每一个附录应另起一面，以后各个附录通常另起一面，如果有多个较短的附录，也可
接排。附录中的图表公式另编排序号，与正文分开。附录编号（如附录1）和标题采用四号
黑体字居中书写，内容采用五号宋体。 
14．“致谢”以三号黑体居中，字间空一格，下空一行打印致谢内容（小四号宋体）。 
三、打印及装订要求 
MBA 学位论文内容一律采用计算机编辑，用A4 规格纸输出，设置页眉为2.5cm，页脚
为3.0cm，页边距分别为上3.5cm，下4.0cm，左2.8cm，右2.8cm。 
在特殊情况下（如图样、表不能缩小时），论文幅面允许根据实际需要延长和加宽。  
用研究生院统一封面线装成册。 
 

  文本: "位置。每一个附录应另起一面，以后各个附录通常另起一面，如果有多个较短的附录，也可"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=82.6, x=90.0

  文本: "接排。附录中的图表公式另编排序号，与正文分开。附录编号（如附录"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=96.1, x=90.0

  文本: "）和标题采用四号"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=96.1, x=421.7

  文本: "黑体字居中书写，内容采用五号宋体。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=109.8, x=90.0

  文本: "以三号黑体居中，字间空一格，下空一行打印致谢内容（小四号宋体）。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=138.5, x=162.4

  文本: "三、打印及装订要求"
    字体: SimHei, 字号: 10.6, 字重: 常规 
    位置: y=168.1, x=90.0

  文本: "学位论文内容一律采用计算机编辑，用"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=197.6, x=135.0

  文本: "规格纸输出，设置页眉为"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=197.6, x=330.3

  文本: "，页边距分别为上"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=213.2, x=129.1

  文本: "在特殊情况下（如图样、表不能缩小时），论文幅面允许根据实际需要延长和加宽。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=248.6, x=115.6

  文本: "用研究生院统一封面线装成册。"
    字体: SimSun, 字号: 10.6, 字重: 常规 
    位置: y=277.4, x=111.1
